[Unit]
Description= UDPGroForwardingForTailscale
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/sbin/ethtool -K enp3s0 rx-udp-gro-forwarding on rx-gro-list off

[Install]
WantedBy=multi-user.target
